body {
  display: flex;
  flex-direction: column;
  font-family: "Bangers";
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-image: url("img_pollo_locco/img/5_background/desert-5112222_1920.png");
  background-size: cover;
}

.sound-toggle {
  padding-bottom: 12px;
}

.sound-toggle img {
  cursor: pointer;
  width: 60px;
  height: 60px;
}

canvas {
  background-color: black;
  display: block;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  bottom: 0;
  position: relative;
  background-color: rgba(58, 56, 56, 0.8);
  color: white;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

.start-game-img {
  width: 730px;
  height: 480px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 49%;
  left: 49%;
  bottom: 50%;
  right: 50%;
}

.game-over-img {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

#win-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.game-win-img {
  width: 720px;
  height: 480px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.controls span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls img {
  width: 60px;
  height: 60px;
}

.btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 190px;
  background-color: rgb(255 220 0);
  width: 200px;
  z-index: 1000;
  height: 60px;
  border-radius: 10px;
  font-size: 36px;
  font-family: "Bangers";
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease; 
}

.btn:hover {
  background-color: rgb(255, 160, 43);
  transform: translate(-50%, -50%) scale(1.1); 
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 72px;
  color: rgb(255, 249, 249);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 760px) {
  canvas {
    width: 100%;
  }

  #start-screen {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
  #start-screen {
    height: 100vh;
  }
}
